In [26]:
import pandas as pd #importing pandas library
import seaborn as sns #importing seaborn librarys

data = pd.read_csv(r"data/startup_funding.csv") #read csv file

data #read data from file

data.head() #top five values

data.sort_values('Date dd/mm/yyyy', ascending=False)

data.groupby('City Location').count()

KeyError: 'City Location'

Sr No                 int64
Date dd/mm/yyyy      object
Startup Name         object
Industry Vertical    object
SubVertical          object
City  Location       object
Investors Name       object
InvestmentnType      object
Amount in USD        object
Remarks              object
dtype: object

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJUâ€™S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
3039,False,False,False,True,True,True,False,False,False,True
3040,False,False,False,True,True,True,False,False,False,False
3041,False,False,False,True,True,True,False,False,False,True
3042,False,False,False,True,True,True,False,False,True,False
3043,False,False,False,True,True,True,False,False,False,True

ValueError: could not convert string to float: 'undisclosed'